################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/02EdicionDatos/ediciondatos/.vs
/02EdicionDatos/ediciondatos/bin/Debug
/02EdicionDatos/ediciondatos/obj
/EJER1/.vs/EJER1/v15
/EJER1/EJER1/bin/Debug
/EJER1/EJER1/obj/Debug
/EJER2/.vs/EJER2/v15
/EJER2/EJER2/bin/Debug
/EJER2/EJER2/obj/Debug
/EJER3/.vs/EJER3/v15
/EJER3/EJER3/bin/Debug
/EJER3/EJER3/obj/Debug
/Ejer5/.vs/Ejer5/v15
/Ejer5/Ejer5/obj/Debug
/Ejer6/.vs/Ejer6/v15
/Ejer6/Ejer6/bin/Debug
/Ejer6/Ejer6/obj/Debug
/EjercicioForms/EjercicioForms/.vs
/EjercicioForms/EjercicioForms/bin/Debug
/EjercicioForms/EjercicioForms/obj/Debug
/EjercicioForms/EjercicioForms/obj/Release
/.vs
/EJER3/EJER3
/EJER2/EJER2/obj/Release
/EJER1/EJER1/obj/Release
/Ejer4/Ejer4/obj
/Ejer4/Ejer4/bin/Debug
/Ejer4/.vs/Ejer4/v15
/Ejer5/Ejer5/bin/Debug
/Ejer5/Ejer5/obj/Release
/Ejer5.1/.vs/Ejer5.1/v15
/Ejer5.1/Ejer5.1/obj
/Ejer5.1/Ejer5.1/bin/Debug
/Ejer6/Ejer6/obj/Release
